body {
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}

header {
    width: 100%;
    position: static;
    z-index: 99;
}

nav {
    /*border-bottom: 50px;*/
    padding-left: 20px;
    height: 60px;
    width: 100%;
    background-color: #FFFFFF;

}

header.load {
    position: fixed;
    width: 100%;

}

nav.loaded {

    padding-left: 20px;
    height: 60px;
    width: 100%;
    background-color: transparent;
}

nav.slide-header {
    padding-left: 20px;
    height: 60px;
    width: 100%;
    background-color: #FFFFFF;
    transition: 0.5s;

}

nav.loaded ul {
    overflow: hidden;
    text-align: right;
    list-style: none;
    text-decoration: none;
    padding-top: 20px;
}

nav.loaded ul li {
    display: inline-block;

}

nav .loaded ul li a {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 10px;
    top: 0;
}

nav .loaded ul li a:hover {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: #E55025;
    margin: 10px;
    top: 0;
}

nav.slide-header ul li a {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: #012B43;
    margin: 10px;
    top: 0;

}

nav.slide-header ul li a:hover {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: #E55025;
    margin: 10px;
    top: 0;

}

.menu-icon {
    float: right;
    color: #000000;
    box-sizing: border-box;
    padding: 15px 15px;
    cursor: pointer;
    display: none;
}

nav ul {
    overflow: hidden;
    text-align: right;
    list-style: none;
    text-decoration: none;
    padding-top: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: #E55025;
    margin: 10px;
    top: 0;

}

nav.black ul {
    background-color: black;
}

nav ul li a:hover {
    /*background-color: #012B43;*/
    text-decoration: none;
    color: #FFFFFF;
    margin: 10px;
}

.logo a {
    position: absolute;
    margin-top: 10px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 24px;
}

@media (max-width: 580px) {
    .logo a {
        position: static;
        color: #000000;
    }

    nav ul {
        max-height: 0;
    }

    .showing {
        max-height: 150px;
        background: transparent;
    }

    nav.black ul {
        background: black;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 0 0;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

}