html,body {
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}
header{
    width: 100%;
    height: 70px;
    background-color: transparent;
}
.logo{
    position:fixed ;
    float: left;
    margin: 10px 10px;
}
nav{
    position: fixed;
    width: 100%;
}
nav ul{
    list-style: none;
    overflow: hidden;
    color: #E55025;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
}
nav.black ul{
    background-color: black;
}
nav ul li{
    display: inline-block;
    padding: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #E55025;
    font-size: 20px;
}
.menu-icon {
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: black;
    display: none;
}

@media (max-width: 500px) {
    .logo {
        position: fixed;
    }
    nav ul {
        max-height: 0px;
        background: #000000;
    }
    nav.black ul {
        background: black;
    }
    .showing {
        max-height: 20em;
    }
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }
    .menu-icon {
        display: block;
    }
}