.landing-content{
    background-color: #FFFFFF;
    min-height: 27vh;
    padding-bottom: 50px;
}
.cover-area{
    padding-top: 60px;
    width: 100%;
    height: 100vh;
    background: url("../img/bg3.png") no-repeat;
    background-size: cover;
}
.tocs-cover-area{
    padding-top: 60px;
    width: 100%;
    height: 60vh;
    background: url("../img/bg3.png") no-repeat;
    background-size: cover;
}
.drive-area{
    padding-top: 100px;
    color: #E55025;
    width: 100%;height: 100%;
    /*background:url("../img/bg1.png") no-repeat;*/
    /*background-size: cover;*/
}

.drive-area{
    padding-top: 100px;
    color: #E55025;
    width: 100%;height: 100%;
    /*background:url("../img/bg1.png") no-repeat;*/
    /*background-size: cover;*/
}

.drive-area .slogan{
}
.slogan{
    color: #FFFFFF;
    font-size: 40px;
    margin-right: 20px;
    margin-top: 70px;
    text-align: left;
    font-weight: bold;
    float: right;
}
.heading{
    color: #E55025;
    font-size: 50px;
    margin-right: 20px;
    margin-top: 70px;
    text-align: center;
    font-weight: 500;
}
.btn-custom-blue{
    font-size: 25px;
    alignment: center;
    background-color: #012B43;
    border: 2px solid #E55025;
    color: #FFFFFF;
}
.btn-custom-blue:hover{
    font-size: 25px;
    alignment: center;
    background-color: #FFFFFF;
    border: 2px solid #E55025;
    color: #012B43;
}
.about-section{
    background-color: #F4F3F2;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.about-section .about-header{
    padding-left: 20px;
    font-size: 20px;
    color: #E55025;
}
.about-section .about-header i{
    font-size: 20px;
    color: #E55025;
    margin-right: 10px;
}
.about-section .about-content{
    padding-left: 30px;
    font-size: 15px;
    color: #000000;
}
.eligibility{
    background-color: #F4F3F2;
    margin-left: 30px;
    margin-right: 5px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.eligibility .eligibility-header{
    padding-left: 20px;
    font-size: 20px;
    color: #E55025;
}
.eligibility .eligibility-header i{
    font-size: 20px;
    color: #E55025;
    margin-right: 10px;
}
.eligibility .eligibility-content{
    padding-left: 30px;
    font-size: 15px;
    color: #000000;
}

.repayment{
    background-color: #F4F3F2;
    margin-left: 5px;
    margin-right: 30px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 200px;
}
.screenshots .application{
    background-color: #F4F3F2;
    margin-left: 5px;
    padding-bottom: 10px;
    min-height: 200px;
}
.screenshots .repayment .repayment-header{
    padding-left: 20px;
    font-size: 20px;
    color: #E55025;
    float: left;
}
.application .application-header{
    padding-left: 20px;
    font-size: 20px;
    color: #E55025;
}
.repayment .repayment-header{
    margin-left: 10px;
    font-size: 20px;
    color: #E55025;
}
.repayment .repayment-header i{
    font-size: 20px;
    color: #E55025;
    margin-right: 10px;
}
.application .application-header i{
    font-size: 20px;
    color: #E55025;
    margin-right: 10px;
}
.repayment .repayment-content{
    padding-left: 30px;
    font-size: 15px;
    color: #000000;
}
.application .application-content{
    padding-left: 30px;
    font-size: 15px;
    color: #000000;
}

.application .application-content ol{
    float: left;
}
.repayment .repayment-content p{
    margin-top: 0px; !important;
}
#about{
    -webkit-transition: height .5s linear;
    transition: height .5s linear;
}
.screenshots{
    background-color: #FFFFFF;
    min-height: 200px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
    color: #012B43;
    font-size: 25px;
}
.screenshots .application .application-content ul{

    list-style: none;

}
.screenshots .application .application-content i{

    background-color: #012B43;
    font-size: 30px;
    color: #FFFFFF;
    border-radius: 50%;
    padding: 3px;

}
.screenshots-slider{
    min-height: 200px;
    background-color: #F4F3F2;
    color: #012B43;
}
.screenshots .carousel-item {
    height: 65vh;
    min-height: 150px;
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.screenshots .screenshots-slider .carousel{
    height: 100%;
    width: 40%;
    alignment: center;

}
.screenshots .screenshots-slider .carousel .carousel-inner .carousel-item{
    background: url("../img/landing.png") no-repeat;
    background-size: cover;
}
.drive-area .image-slide {
    min-height: 200px;
    max-height: 500px;
    alignment: right;

}
.drive-area .image-slide .carousel-item{
    height: 65vh;
    min-height: 150px;
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.procedure{
    background:url("../img/screenshotbg.png") no-repeat;
    background-size: cover;
    margin: 30px;
}
.drive-area .image-slide .carousel{
    height: 100%;
    width: 50%;
    float: right;
    margin-right: 20px;

}

.procedure .carousel .carousel-inner  .item0{
    margin: 30px;
    height: 70vh;
    background: url("../img/step1.png") no-repeat;
    background-size: cover;
}
.procedure .carousel .carousel-inner .item1{
    margin: 30px;
    height: 70vh;
    background: url("../img/slide2.png") no-repeat;
    background-size: cover;
}
.procedure .carousel .carousel-inner  .item2{
    margin: 30px;
    height: 70vh;
    background: url("../img/slide3.png") no-repeat;
    background-size: cover;
}
.procedure .carousel .carousel-inner  .item3{
    margin: 30px;
    height: 70vh;
    background: url("../img/slide3.png") no-repeat;
    background-size: cover;
}
@media (max-width: 1000px) {
    .cover-area{
        padding-top: 2px;
        width: 100%;
        height: 100vh;
        background: url("../img/bg3.png") no-repeat;
        background-size: cover;
    }
    .drive-area{
        padding-top: 0px;
        color: #E55025;
        width: 100%;height: 100%;
        /*background:url("../img/bg1.png") no-repeat;*/
        /*background-size: cover;*/
    }
    .slogan{
        width: 100%;
        /*background-color: aqua;*/
        color: #FFFFFF;
        margin-left: 10px;
        text-align: left;
        font-weight: bold;
        float: left;
    }
    .slogan p{
        font-size: 30px;
    }
    .slogan h4{
        font-size: 25px;
    }
    .slogan a{
        font-size: 21px;
    }
    .slogan a:hover{
        font-size: 21px;
    }
    .drive-area .image-slide img {
        alignment: center;

    }
    .repayment{
        background-color: #F4F3F2;
        margin-left: 30px;
        margin-right: 5px;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 200px;
    }
}

@media (max-width: 900px) {
    .cover-area{
        padding-top: 2px;
        width: 100%;
        height: 100vh;
        background: url("../img/bg3.png") no-repeat;
        background-size: cover;
    }
    .drive-area{
        padding-top: 0px;
        color: #E55025;
        width: 100%;height: 100%;
        /*background:url("../img/bg1.png") no-repeat;*/
        /*background-size: cover;*/
    }
    .slogan{
        width: 100%;
        /*background-color: aqua;*/
        color: #FFFFFF;
        margin-left: 10px;
        text-align: center;
        font-weight: bold;
        float: left;
    }
    .slogan p{
        font-size: 28px;
    }
    .slogan h4{
        font-size: 22px;
    }
    .slogan a{
        font-size: 21px;
    }
    .slogan a:hover{
        font-size: 21px;
    }
    .drive-area .image-slide img {
        alignment: center;
        margin-left: 40%;

    }
    .repayment{
        background-color: #F4F3F2;
        margin-left: 30px;
        margin-right: 5px;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 200px;
    }
}

@media (max-width: 600px) {
    .cover-area{
        padding-top: 2px;
        width: 100%;
        height: 100vh;
        background: url("../img/bg3.png") no-repeat;
        background-size: cover;
    }
    .drive-area{
        padding-top: 0px;
        color: #E55025;
        width: 100%;height: 100%;
        /*background:url("../img/bg1.png") no-repeat;*/
        /*background-size: cover;*/
    }
    .slogan{
        width: 100%;
        /*background-color: aqua;*/
        color: #FFFFFF;
        margin-left: 10px;
        text-align: center;
        font-weight: bold;
        float: left;
    }
    .slogan p{
        font-size: 22px;
    }
    .slogan h4{
        font-size: 19px;
    }
    .slogan a{
        font-size: 17px;
    }
    .slogan a:hover{
        font-size: 17px;
    }
    .drive-area .image-slide img {
        alignment: center;
        margin-left: 30%;

    }
    .repayment{
        background-color: #F4F3F2;
        margin-left: 30px;
        margin-right: 5px;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 200px;
    }
}

@media screen and (max-width: 400px) {
    .cover-area{
        padding-top: 2px;
        width: 100%;
        height: 100vh;
        background: url("../img/bg3.png") no-repeat;
        background-size: cover;
    }
    .drive-area{
        padding-top: 0px;
        color: #E55025;
        width: 100%;height: 100%;
        /*background:url("../img/bg1.png") no-repeat;*/
        /*background-size: cover;*/
    }
    .slogan{
        width: 100%;
        /*background-color: aqua;*/
        color: #FFFFFF;
        margin-left: 5px;
        text-align: center;
        font-weight: bold;
        float: left;
    }
    .slogan p{
        font-size: 18px;
    }
    .slogan h4{
        font-size: 17px;
    }
    .slogan a{
        font-size: 15px;
    }
    .slogan a:hover{
        font-size: 15px;
    }
    .drive-area .image-slide img {
        alignment: center;
        margin-left: 12%;

    }
    .eligibility{
        background-color: #F4F3F2;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 200px;
    }
    .repayment{
        background-color: #F4F3F2;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 200px;
    }
}