. {
    padding: 0;
    margin: 0;
}

.body {
    background-color: #DCDCDC;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.content-area {
    padding-left: 260px;
    height: 100%;
}

.stat-bars {
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 5px;
    margin-right: 10px;
    padding-right: 5px;
    box-shadow: #1f6fb2;
}

.stat-bars-admin-set {
    background-color: #ffffff;
    padding-top: 5px;
    height: 45px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 5px;
    margin-right: 10px;
    padding-right: 5px;
}

.stat-bars-admin-set .select-form {
    display: none;
}

.cleared-loans-stats {
    margin-top: 10px;
    height: 70px;
    background-color: #FFFFFF;
    width: 90%;
    border-bottom: 3px solid #012B43;
    /*border-top: 2px solid #004387;*/
    border-right: 3px solid #012B43;
    font-size: 12px;
}

.cleared-loans-stats a {
    color: #E55025;
}

.cleared-loans-stats a:hover {
    text-decoration: none;
    color: #012B43;
}

.active-loans-stats {
    margin-top: 10px;
    color: #E55025;
    height: 70px;
    background-color: #ffffff;
    width: 90%;
    border-bottom: 3px solid #012B43;
    /*border-top: 2px solid #004387;*/
    border-right: 3px solid #012B43;
    font-size: 12px;
}

.active-loans-stats a {
    color: #E55025;
}

.active-loans-stats a:hover {
    text-decoration: none;
    color: #012B43;
}

.defaulted-loans-stats {
    margin-top: 10px;
    color: #E55025;
    height: 70px;
    background-color: #FFFFFF;
    width: 90%;
    border-bottom: 3px solid #012B43;
    /*border-top: 2px solid #004387;*/
    border-right: 3px solid #012B43;
    font-size: 12px;
}

.defaulted-loans-stats a {
    color: #E55025;
}

.defaulted-loans-stats a:hover {
    text-decoration: none;
    color: #012B43;
}

.other-loans-stats {
    margin-top: 10px;
    color: #E55025;
    height: 70px;
    background-color: #FFFFFF;
    width: 90%;
    border-bottom: 3px solid #012B43;
    /*border-top: 2px solid #004387;*/
    border-right: 3px solid #012B43;
    font-size: 12px;
}

.other-loans-stats a {
    color: #E55025;
}

.other-loans-stats a:hover {
    text-decoration: none;
    color: #012B43;
}

.headers {
    color: #012B43;
    background-color: #ffffff;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
    margin-right: 10px;

}

.dash-fa-icon {
    background-color: #012B43;
    height: 70px;
    color: white;
    padding-top: 10px;
    text-align: center;
}

.dash-text {
    text-align: center;
    height: 70px;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    /*background-color: #1d643b;*/
}

.dash-figure {
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    background-color: #ffffff;
    width: 100%;
    height: 60%;
}

.dash-name {
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #E55025;
    width: 100%;
    height: 40%;
    margin-bottom: 2px;
}
.dash-name:hover {
    text-align: center;
    font-size: 18px;
    color: #012B43;
    background-color: #E55025;
    width: 100%;
    height: 40%;
    margin-bottom: 2px;
}

.add-button {
    text-align: right;
}

.my-form {
    margin-top: 40px;
    padding: 0;
    width: 100%;
    max-height: 600px;
    padding-bottom: 10px;
    background: #ffffff;
    border-left: 2px solid #E55025 ;
    border-right: 2px solid #E55025 ;
    border-bottom: 2px solid #E55025 ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.my-form .my-label{
    color: #E55025;
}

.contact {
    width: 80px;
    height: 80px;
    border-radius: 40%;
    margin-top: -40px;
}

.my-form form {
    /*padding-left: 80px;*/
    /*margin-bottom: 20px;*/
    border-radius: 5px;
    /*background-color: #DCDCDC;*/
    /*display: inline-block;*/
    width: auto;
    font-size: 16px;
    justify-content: center;
    color: white;
}

.my-form form a {
    color: #012B43;
}

.my-form form button {
    background-color: #012B43;
!important;
    color: #ffffff;
}
.my-form form button:hover {
    background-color: #E55025;
!important;
    color: #ffffff;
}

.my-form .form-header {
    background-color: #012B43;
    text-align: center;
    margin-bottom: 5px;
    font-size: 20px;
    color: #ffffff;;
}

.my-form form label {
    color: #012B43;
}

.my-form form input:focus {
    box-shadow: none;
    outline: none;
!important;
    border: 2px solid #012B43;
}

.my-form form input[type="text"], input[type="password"], input[type="email"] {
    width: 240px;
    border: 1px solid #012B43;
    color: #012B43;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    background: transparent;
    outline: none;
    /*color: black;*/
    /*alignment: center;*/
}

.my-form form p {
    margin-bottom: 0px;
    margin-top: 5px;
    text-align: left;
    color: black;
    margin-left: 85px;
}

.my-form h4 {
    color: black;
}

.active {
    color: #E55025;
}

.my-form form button[type="submit"] {
    color: white;
    margin-top: 20px;
}

.user-navs {
    margin-left: 15px;
    margin-top: 30px;
    background-color: #ffffff;
    height: 100%;
}

.user-navs ul {
    list-style-type: none;
}

.user-navs ul li b {
    height: 40px;
    color: #E55025;
    font-size: 18px;
}

.user-navs ul li a i {
    margin-right: 10px;
}

.user-navs ul li a {
    color: #012B43;
    text-decoration: none;
}

.user-navs ul li a:hover {
    color: #E55025;
    text-decoration: none;
}

.user-navs ul li {
    height: 30px;
    border-bottom: 1px solid #DCDCDC;
}

.user-details {
    margin-top: 30px;
    margin-left: 10px;
    background-color: white;
    height: 100%;
}

.btn-custom {
    padding-top: 5px;
!important;
    border-radius: 0;
!important;
    background-color: #E55025;
    color: #000000;
}

.btn-custom:hover {
    border-radius: 0;
!important;
    background-color: #012B43;
    color: #ffffff;
}

.user-header {
    color: #012B43;
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #DCDCDC;
}

.user-content ul {
    list-style-type: none;
}

.user-content ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DCDCDC;
    font-size: 15px;
}

.user-content ul li b {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #DCDCDC;
    font-size: 17px;
    color: #E55025;
}

.general-background {
    background-color: #FFFFFF;
}

.regions-area {
    background-color: #FFFFFF;
}

.regions-area h5 {
    font-size: 20px;
    margin-top: 10px;
    background-color: #FFFFFF;
}

.regions-area table {
    font-size: 15px;
    background-color: #FFFFFF;
}

.cus-borders {
    /*border: 1px #808080 solid ;*/
    -moz-box-shadow: 0 0 6px #012B43;
    -webkit-box-shadow: 0 0 6px #012B43;
    box-shadow: 0 0 6px #012B43;
}

.card{
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;

}

.table-customize table td a{
    color: #012B43;
}
.table-customize table td a:hover{
    color: #E55025;
    text-decoration: none;
}

.btn-form{
    color: #E55025;
    border-radius: 5px;
}
.btn-form:hover{
    color: #E55025; !important;
    border-radius: 5px;
}

.in-navs{
    width: 100%;
    text-align: center;
    color:#E55025;
    margin-left: 5px;
    margin-right: 10px;
}
.in-navs .btn{
    width: 100%;
    background-color: #FFFFFF;
    font-size: 15px;
}
.in-navs .active{
    background-color: #012B43;
    color: #ffffff;
}
.in-navs .btn:hover{
    width: 100%;
    background-color: #012B43;
    color: white;
}
.in-navs a {
    color: #E55025;
    text-decoration: none;
}
.in-navs a i {
    color: #E55025;
    text-decoration: none;
    margin-right: 10px;
    font-size: 22px;
}
.in-navs a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.in-navs a:hover i {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 10px;
    font-size: 22px;
}
.active{ background-color: #E55025;
    color: white;}

@media (max-width:1050px) {

    .active-loans-stats{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .cleared-loans-stats{
        margin-right: 0;
        width: 100%;
    }
    .defaulted-loans-stats{
        margin-right: 0;
        width: 100%;
    }
    .other-loans-stats{
        margin-right: 0;
        width: 100%;
    }

    .dash-fa-icon{
        width:40%;
        padding-left: 2px;
        font-max-size: 40px;
    }
    .dash-text{
        width: 60%;
        font-max-size: 16px ;
    }

}
@media (max-width:600px) {
    .cleared-loans-stats{
    }
}

@media (max-width: 500px) {
    .sidebar-wrapper{
        visibility: hidden;
    }
    .content-area {
        padding-left: 10px;
        height: 100%;
    }

}
