.my-wrapper{

}
.side-navigator{
    width: 270px;
    /*background-color: #0080ff;*/
    position: absolute;
    z-index: 1;
}
.side-navigator a{
    color: black;
}

.my-own-active{
    background-color: #1b4b72;
    color: #ffffff;
}
