/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
body {
    /*overflow-x: auto;*/
    visibility: visible;
    width: 100%;
    overflow-x: hidden;
}

#wrapper {
    /*margin-top: 20px;*/
    background-color: #ffffff;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*#wrapper {*/
/*padding-left: 250px;*/
/*}*/

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #ffffff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper li {
    background-color: #ffffff;

    /*border-right: 2px solid #012B43;*/
}

#wrapper #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper #page-content-wrapper {
    position: absolute;
    margin-right: 250px;
}

/* Sidebar Styles */

.sidenav {
    position: relative;
    margin-top: 10px;
    width: 250px;
    padding: 0;
    list-style: none;
}

.sidenav .active{
    background-color: #012B43; !important;
    color: #FFFFFF;
}
.sidenav .active i{
    color: #FFFFFF;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #012B43;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidenav a i, .dropdown-btn i {
    margin-right: 10px;
    color: #E55025;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    background-color: #E55025;
    color: #ffffff;
}

.sidenav a:hover i, .dropdown-btn:hover i {
    background-color: #E55025;
    color: #ffffff;
}

/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: #E55025;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #ffffff;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    margin-right: 20px;
    padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/*.sidebar-nav li {*/
/*text-indent: 10px;*/
/*!*line-height: 40px;*!*/
/*min-height: 40px;*/
/*border: 2px black;*/
/*display: block;*/
/*}*/
/*.sidebar-nav li a {*/
/*padding-top: 10px;*/
/*vertical-align: center;*/
/*height: 40px;*/
/*text-align: left;*/
/*display: block;*/
/*text-decoration: none;*/
/*color: #012B43;*/
/*font-size: 13px;*/
/*font-weight: 900;*/
/*border-bottom: 2px solid #ffffff;*/
/*}*/
/*.sidebar-nav li a i{*/
/*margin-right: 10px;*/
/*font-size: 16px;*/
/*}*/
/*.sidebar-nav li a:hover {*/
/*overflow: visible;*/
/*text-decoration: none;*/
/*color: #ffffff;*/
/*background: #E55025;*/
/*}*/
/*.sidebar-nav li a:active, .sidebar-nav li a:focus {*/
/*text-decoration: none;*/
/*}*/
/*.sidebar-nav li ul {*/
/*background: #E55025;*/
/*visibility: hidden;*/
/*opacity: 0;*/
/*min-width: 5rem;*/
/*position: absolute;*/
/*transition: all 0.5s ease;*/
/*margin-top: 1rem;*/
/*left: auto;*/
/*display: none;*/
/*}*/
/*.sidebar-nav li:hover > ul,*/
/*.sidebar-nav li:focus-within > ul, !* this is the line we add *!*/
/*.sidebar-nav li ul:hover {*/
/*visibility: visible;*/
/*opacity: 1;*/
/*display: block;*/
/*}*/
/*!*.sidebar-nav li a:hover > ul{*!*/
/*!*display: block;*!*/
/*!*visibility: visible;*!*/
/*!*}*!*/
/*.sidebar-nav > .sidebar-brand {*/
/*height: 150px;*/
/*font-size: 18px;*/
/*line-height: 60px;*/
/*border-bottom: 2px solid #ffffff;*/
/*border-right: 2px solid #012B43;*/
/*}*/
/*.sidebar-nav > .sidebar-brand a {*/
/*color: #FFC200;*/
/*}*/
/*.sidebar-nav > .sidebar-brand a:hover {*/
/*color: #000;*/
/*background: #FFC200;*/
/*}*/
.navbar-dash {
    background-color: #ffffff;
    height: 50px;
    color: #ffffff;
    margin-right: 10px;
}

.navbar-dash a {
    color: #012B43;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    .sidebar-wrapper {
        width: 0;
        border-right: 2px solid #012B43;
        height: 100%;
        /*margin-bottom: 50px;*/

    }

    #wrapper #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.profile-image {
    margin-top: 10%;
    margin-left: 35%;
    max-height: 60px;
    max-width: 80px;
    /*background-color: black;*/
    float: left;
}

.profile-image img {
    border-radius: 50%;
}

.side-link-area {
    margin-top: 10px;
}

.sidebar-brand {
    height: 300px;
}

.user-area {
    border-bottom: 2px solid #DCDCDC;
    border-top: 1px solid #ffffff;
    color: #ffffff;
    background: #012B43;
    height: 130px;
}

/*.arrow {*/
/*float: end;*/
/*}*/
/*.fa.arrow:before {*/
/*content: "\f107";*/
/*}*/
/*.active > a > .fa.arrow:before {*/
/*content: "\f107";*/
/*}*/